@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --font-sora: var(--font-sora);
  --font-hanken: var(--font-hanken);
  --font-space: var(--font-space);
}

body {
  
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
